.navbar img {
    display: none;
}

.brand {
    display: inline-block;
    color: white;
    font-size: 1rem;
}

.jumbotron {
    margin-bottom: -20px;
}


.featurette-image {
    display: none;
}

.btn {
    display: none;
}

h2 {
    height: 14px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}
p {
    height: 10px;
    position: relative;
    display: inline-block;
}

.list-group {
    display: none;
}

.card-img-top {
    height: 100px;
    width: 133px;
}

.carousel-inner {
    width: 500px;
}

.card {
    width: auto;
}

.card-header a{
    text-decoration: none;
    color: black;
}

.collapse {
    display: block !important;
    height: auto !important;
}